.elementor-324 .elementor-element.elementor-element-6a59d08 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}
.elementor-324
    .elementor-element.elementor-element-6a59d08:not(.elementor-motion-effects-element-type-background),
.elementor-324
    .elementor-element.elementor-element-6a59d08
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-93aa256);
}
.elementor-324 .elementor-element.elementor-element-6a59d08,
.elementor-324 .elementor-element.elementor-element-6a59d08::before {
    --border-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-370fb0e {
    --display: flex;
    --min-height: 97px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-b583474 img {
    width: 50%;
}
.elementor-324
    .elementor-element.elementor-element-b583474
    > .elementor-widget-container:hover {
    --e-transform-rotateZ: 360deg;
}
.elementor-324 .elementor-element.elementor-element-c066153 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 5px 5px 5px 5px;
    --border-block-start-width: 5px;
    --border-inline-end-width: 5px;
    --border-block-end-width: 5px;
    --border-inline-start-width: 5px;
    border-color: var(--e-global-color-96d230c);
    --border-color: var(--e-global-color-96d230c);
    --border-radius: 60px 60px 60px 60px;
}
.elementor-324
    .elementor-element.elementor-element-c066153:not(.elementor-motion-effects-element-type-background),
.elementor-324
    .elementor-element.elementor-element-c066153
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #e2e2e2;
	color: black;
}
.elementor-324 .elementor-element.elementor-element-c066153,
.elementor-324 .elementor-element.elementor-element-c066153::before {
    --border-transition: 0.3s;
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-menu-toggle {
    margin: 0 auto;
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu
    .elementor-item {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item {
    color: var(--e-global-color-97fcdf6);
    fill: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item:hover,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item.elementor-item-active,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item.highlighted,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item:focus {
    color: var(--e-global-color-96d230c);
    fill: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main:not(.e--pointer-framed)
    .elementor-item:before,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main:not(.e--pointer-framed)
    .elementor-item:after {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .e--pointer-framed
    .elementor-item:before,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .e--pointer-framed
    .elementor-item:after {
    border-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main
    .elementor-item.elementor-item-active {
    color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main:not(.e--pointer-framed)
    .elementor-item.elementor-item-active:before,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--main:not(.e--pointer-framed)
    .elementor-item.elementor-item-active:after {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .e--pointer-framed
    .elementor-item.elementor-item-active:before,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .e--pointer-framed
    .elementor-item.elementor-item-active:after {
    border-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--dropdown
    a,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-menu-toggle {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--dropdown {
    background-color: #cd8f5dc9;
}
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--dropdown
    a:hover,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--dropdown
    a.elementor-item-active,
.elementor-324
    .elementor-element.elementor-element-2b68e2f
    .elementor-nav-menu--dropdown
    a.highlighted {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324 .elementor-element.elementor-element-3daa519 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-069830a {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}
.elementor-324
    .elementor-element.elementor-element-069830a
    .elementor-widget-container {
    text-align: center;
}
.elementor-324
    .elementor-element.elementor-element-069830a
    .elementor-social-icon {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-069830a
    .elementor-social-icon
    i {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-069830a
    .elementor-social-icon
    svg {
    fill: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-069830a
    .elementor-social-icon:hover {
    background-color: var(--e-global-color-b6c6206);
}
.elementor-324 .elementor-element.elementor-element-5f08dbf {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --justify-content: center;
    --align-items: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}
.elementor-324
    .elementor-element.elementor-element-5f08dbf:not(.elementor-motion-effects-element-type-background),
.elementor-324
    .elementor-element.elementor-element-5f08dbf
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #02010100;
}
.elementor-324 .elementor-element.elementor-element-5f08dbf,
.elementor-324 .elementor-element.elementor-element-5f08dbf::before {
    --border-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-019d529 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: flex-start;
    --background-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-c3987d8 img {
    width: 35%;
}
.elementor-324
    .elementor-element.elementor-element-c3987d8
    > .elementor-widget-container:hover {
    --e-transform-rotateZ: 360deg;
}
.elementor-324 .elementor-element.elementor-element-ea3c616 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc(
        (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --align-items: flex-end;
    --background-transition: 0.3s;
}
.elementor-324 .elementor-element.elementor-element-839d010 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}
.elementor-324
    .elementor-element.elementor-element-839d010
    .elementor-widget-container {
    text-align: center;
}
.elementor-324
    .elementor-element.elementor-element-839d010
    .elementor-social-icon {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-839d010
    .elementor-social-icon
    i {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-839d010
    .elementor-social-icon
    svg {
    fill: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-839d010
    .elementor-social-icon:hover {
    background-color: var(--e-global-color-b6c6206);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-menu-toggle {
    margin: 0 auto;
    background-color: var(--e-global-color-b6c6206);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-menu-toggle {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown {
    background-color: #e2e2e2;
	color: black;
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a:hover,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a.elementor-item-active,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a.highlighted,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-menu-toggle:hover {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a:hover,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a.elementor-item-active,
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a.highlighted {
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-nav-menu--dropdown
    a.elementor-item-active {
    color: var(--e-global-color-97fcdf6);
    background-color: var(--e-global-color-96d230c);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    div.elementor-menu-toggle {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    div.elementor-menu-toggle
    svg {
    fill: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    div.elementor-menu-toggle:hover {
    color: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    div.elementor-menu-toggle:hover
    svg {
    fill: var(--e-global-color-97fcdf6);
}
.elementor-324
    .elementor-element.elementor-element-c637450
    .elementor-menu-toggle:hover {
    background-color: var(--e-global-color-96d230c);
}
@media (min-width: 768px) {
    .elementor-324 .elementor-element.elementor-element-370fb0e {
        --width: 20%;
    }
    .elementor-324 .elementor-element.elementor-element-c066153 {
        --width: 60%;
    }
    .elementor-324 .elementor-element.elementor-element-3daa519 {
        --width: 20%;
    }
    .elementor-324 .elementor-element.elementor-element-019d529 {
        --width: 33.3333%;
    }
    .elementor-324 .elementor-element.elementor-element-ea3c616 {
        --width: 66.6666%;
    }
}
@media (max-width: 1024px) {
    .elementor-324
        .elementor-element.elementor-element-2b68e2f
        .elementor-nav-menu
        .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-324 .elementor-element.elementor-element-5f08dbf {
        --min-height: 60px;
    }
    .elementor-324 .elementor-element.elementor-element-ea3c616 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --justify-content: space-between;
    }
}
@media (max-width: 767px) {
    .elementor-324
        .elementor-element.elementor-element-2b68e2f
        .elementor-nav-menu
        .elementor-item {
        font-size: var(--e-global-typography-accent-font-size);
    }
    .elementor-324 .elementor-element.elementor-element-5f08dbf {
        --min-height: 60px;
        --align-items: stretch;
        --container-widget-width: calc(
            (1 - var(--container-widget-flex-grow)) * 100%
        );
    }
    .elementor-324 .elementor-element.elementor-element-019d529 {
        --width: 25%;
    }
    .elementor-324 .elementor-element.elementor-element-c3987d8 img {
        width: 100%;
    }
    .elementor-324 .elementor-element.elementor-element-ea3c616 {
        --width: 75%;
        --flex-direction: row;
        --container-widget-width: calc(
            (1 - var(--container-widget-flex-grow)) * 100%
        );
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --justify-content: center;
        --align-items: center;
    }
    .elementor-324 .elementor-element.elementor-element-839d010 {
        --icon-size: 16px;
    }
    .elementor-324 .elementor-element.elementor-element-c637450 {
        --nav-menu-icon-size: 33px;
    }
    .elementor-324
        .elementor-element.elementor-element-c637450
        .elementor-menu-toggle {
        border-width: 1px;
        border-radius: 10px;
    }
}
